header {
	width: 100%;
	height: 11vmin;
	position: relative;
	z-index: 10;
	> h1 {
		position: absolute;
		top: 5vmin;
		left: 10vmin;
		line-height: 0px;

		> a {
			font: bold 24px/1 'Poppins';
			color: #222;
		}
	}

	#gnb {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		line-height: 0px;

		li {
			float: left;
			margin-left: 20px;
			line-height: 10px;
			padding-bottom: 20px;
			position: relative;
			font: bold 20px/1 'Poppins';
			color: #444;
			a {
				font: bold 20px/1 'Poppins';
				color: #444;
			}
			&:hover {
				> .sec {
					height: 170px;
				}
			}
			.sec {
				width: 200%;
				height: 0;
				margin-left: -20px;
				padding-top: 10px;
				transition: 0.4s;
				position: absolute;
				overflow: hidden;
				> li {
					margin-top: 10px;
					margin-bottom: 10px;
					margin-left: 20px;
					padding-bottom: 0;
					display: block;
					width: 100%;
					> a {
						font: 16px/1 'Poppins';
						color: #222;
					}
				}
			}
		}
	}
	.icon {
		position: absolute;
		top: 2vmin;
		right: 0;
		display: none;
		color: #333;
	}
}

/*@media screen and (max-width: 1179px) {
	header.main {
		height: 11vmin;
		h1 {
			top: 3vmin;
			left: 6vmin;
			> a {
				top: 0vmin;
				color: #333;
				font: bold 4vmin/1 'arial';
			}
		}
		#gnb {
			display: none;
		}
		.icon {
			top: 3vmin;
			display: block;
			left: 1vmin;
			color: #333;
			font: bold 4vmin/0 'arial';
		}
	}
} */

@media screen and (max-width: 1179px) {
	header.main {
		height: 11vmin;
		h1 {
			top: 7vmin;
			left: 12vmin;
			> a {
				font: bold 6vmin/1 'arial';
			}
		}
		#gnb {
			display: none;
		}
		.icon {
			top: 7vmin;
			display: block;
			left: 5vmin;
			font: bold 6.5vmin/0 'arial';
		}
	}
	header.sub {
		height: 11vmin;
		h1 {
			top: 7vmin;
			left: 12vmin;
			> a {
				display: none;
				font: bold 6vmin/1 'arial';
			}
		}
		#gnb {
			display: none;
		}
		.icon {
			top: 7vmin;
			display: block;
			left: 5vmin;
			font: bold 6.5vmin/0 'arial';
			background: rgba(255, 255, 255, 0.808);
			padding: 2%;
			border-radius: 15%;
		}
	}
}
