.menu {
	position: relative;
	z-index: -1;
	width: 0;
	height: 0;
	&.on {
		#mob {
			margin-left: 0;
			> span {
				opacity: 1;
			}
		}
	}
	#mob {
		position: fixed;
		width: 50vw;
		margin-left: -50vw;
		height: 100vh;
		background-color: #333;
		transition: 0.5s;
		ul {
			position: absolute;
			margin-top: 10vmin;
			li {
				width: 100%;
				display: block;
				font: 3vmin/1 'Poppins';
				margin-left: 8vw;
				margin-top: 3vh;
				a {
					color: #fff;
				}
			}
		}
		> span {
			position: absolute;
			opacity: 0;
			top: 3vmin;
			left: 2vmin;
			font: bold 4vmin/1 'Poppins';
			color: #fff;
		}
	}
}
@media screen and(max-width:749px) {
	.menu {
		position: relative;
		z-index: -1;
		width: 0;
		height: 0;
		&.on {
			#mob {
				margin-left: 0;
				> span {
					opacity: 1;
				}
			}
		}
		#mob {
			width: 50vw;
			margin-left: -50vw;
			height: 100vh;
			background-color: #333;
			transition: 0.5s;
			ul {
				position: absolute;
				margin-top: 10vmin;
				li {
					width: 100%;
					display: block;
					font: 3vmin/1 'Poppins';
					margin-left: 8vw;
					margin-top: 3vh;
					a {
						color: #fff;
					}
				}
			}
			> span {
				position: absolute;
				opacity: 0;
				top: 3vh;
				left: 2vmin;
				font: bold 4vmin/1 'Poppins';
				color: #fff;
			}
		}
	}
}

@media screen and(max-width:539px) {
	.menu {
		position: relative;
		z-index: -1;
		width: 0;
		height: 0;
		&.on {
			#mob {
				margin-left: 0;
				> span {
					opacity: 1;
				}
			}
		}
		#mob {
			width: 75vw;
			margin-left: -75vw;
			height: 100vh;
			background-color: #333;
			transition: 0.5s;
			ul {
				position: absolute;
				margin-top: 15vmin;
				li {
					width: 100%;
					display: block;
					font: 6vmin/1.5 'Poppins';
					margin-left: 8vw;
					margin-top: 5vmin;
					a {
						color: #fff;
					}
				}
			}
			> span {
				position: absolute;
				opacity: 0;
				top: 7vmin;
				left: 5vmin;
				font: bold 6vmin/1 'Poppins';
				color: #fff;
			}
		}
	}
}
