.popup2 {
	padding: 1vw;
	position: fixed;
	top: 10vw;
	left: 10vw;
	background: #080c38a4;
	z-index: 10;
	.con {
		width: 30vw;
		min-height: 20vw;
		border: 1px solid #888;
		overflow: hidden;
		background: #fff;
		p {
			text-align: center;
			&:nth-of-type(1) {
				margin-top: 1vw;
				font: bold 3.5vw/1 'Poppins';
			}
			&:nth-of-type(2) {
				font: 1.2vw/1.5 'Poppins';
				padding: 2vw;
			}
		}

		> .wrap {
			width: 80%;
			margin: 0 auto;
			display: flex;

			input[type='checkbox'] {
				margin-right: 1vmin;
			}
			label {
				display: inline-block;
				text-align: center;
				flex: 1;
				font: 1vw/1 'Poppins';
			}
		}
	}
}

@media screen and(max-width: 899px) {
	.popup2 {
		padding: 1vw;
		position: fixed;
		top: 20vw;
		left: 10vw;
		background: #080c38a4;
		z-index: 10;
		.con {
			width: 40vw;
			min-height: 20vw;
			border: 1px solid #888;
			overflow: hidden;
			background: #fff;
			p {
				text-align: center;
				&:nth-of-type(1) {
					margin-top: 1vw;
					font: bold 3.5vw/1 'Poppins';
				}
				&:nth-of-type(2) {
					font: 2vw/1.5 'Poppins';
					padding: 2vw;
				}
			}

			> .wrap {
				width: 100%;
				margin: 0 auto 2.5vmin;
				display: flex;

				input[type='checkbox'] {
					margin-right: 10px;
				}
				label {
					display: inline-block;
					text-align: center;
					flex: 1;
					font: 1vw/1 'Poppins';
				}
			}
		}
	}
}

@media screen and(max-width: 549px) {
	.popup2 {
		padding: 1vw;
		position: fixed;
		top: 30vw;
		left: 5vw;
		background: #080c38a4;
		z-index: 10;
		.con {
			width: 80vw;
			min-height: 20vw;
			border: 1px solid #888;
			overflow: hidden;
			background: #fff;
			p {
				text-align: center;
				&:nth-of-type(1) {
					margin-top: 3vw;
					font: bold 7vw/1 'Poppins';
				}
				&:nth-of-type(2) {
					font: 5vw/1.5 'Poppins';
					padding: 5vw;
				}
			}

			> .wrap {
				width: 100%;
				margin: 0 auto 2.5vmin;
				display: flex;

				input[type='checkbox'] {
					margin-right: 10px;
				}
				label {
					display: inline-block;
					text-align: center;
					flex: 1;
					font: 3.5vw/1 'Poppins';
				}
			}
		}
	}
}
