.subHeader {
	width: 100%;
	height: 100vh;
	margin: -11vmin auto 0;

	.sub_inner {
		width: 100%;
		height: 50vh;
		margin: 0 auto;
		padding: 5vmin;
		position: relative;
		z-index: -1;

		h2 {
			font: bold 15vmin/1 'Poppins';
			color: #333;
			position: absolute;
			bottom: 3vmin;
			left: 10vmin;
		}

		p {
			font: bold 2.2vmin/1.5 'Lora';
			color: #333;
			position: absolute;
			bottom: 3vmin;
			right: 10vmin;
			width: 25%;
		}
	}
	img {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}
}

@media screen and(max-width:749px) {
	.subHeader {
		width: 100%;
		height: 100vh;
		margin: -11vmin auto 0;

		.sub_inner {
			width: 100%;
			height: 40vh;
			margin: 0 auto;
			padding: 5vmin;
			position: relative;
			z-index: -1;

			h2 {
				font: bold 10vmin/1 'Poppins';
				color: #333;
				position: absolute;
				bottom: 12vmin;
				left: 10vmin;
			}

			p {
				font: bold 3vmin/1.5 'Lora';
				color: #333;
				position: absolute;
				bottom: 3vmin;
				left: 10vmin;
				width: 80%;
			}
		}
		img {
			width: 100%;
			height: 60vh;
			object-fit: cover;
		}
	}
}

@media screen and(max-width:449px) {
	.subHeader {
		width: 100%;
		height: 100vmin;

		.sub_inner {
			width: 100%;
			height: 100vmin;
			margin: -11vmin auto;
			padding: 0vmin;
			position: relative;
			z-index: -1;

			.textBox {
				width: 100%;
				background-color: rgba(34, 34, 34, 0.411);
				position: absolute;
				bottom: 0vmin;
				left: 0vmin;
				height: 35vmin;
				h2 {
					font: bold 10vmin/1 'Poppins';
					color: #fff;
					position: relative;
					bottom: 0vmin;
					margin-top: 5%;
					margin-bottom: 2vmin;
					margin-left: 5vmin;
					left: 0vmin;
					z-index: 1;
				}

				p {
					font: 3.5vmin/1.2 'Lora';
					color: #fff;
					position: relative;
					bottom: 0vmin;
					right: auto;
					left: 0vmin;
					margin-left: 5vmin;
					width: 80%;
				}
			}
		}
		img {
			width: 100%;
			height: 100vmin;
			object-fit: cover;
			position: relative;
			z-index: -3;
			margin-top: -89vmin;
		}
	}
}
