.content.main {
	width: 100%;
	position: relative;
	overflow: hidden;

	#service {
		width: 100%;
		margin: 30vmin 0 10vmin;
		position: relative;

		h1 {
			text-align: center;
			font: bold 5vmin 'Poppins';
			color: #222;
			padding-top: 3vmin;
		}
		h2 {
			text-align: center;
			font: bold 2.5vmin 'Poppins';
			color: #777;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		.inner {
			width: 100%;
			margin: 0 auto;
			position: relative;

			.box {
				margin-top: 30vmin;
				width: 100%;
				margin-right: 2vmin;
				transition: 0.5s;

				&::after {
					content: '';
					display: block;
					clear: both;
				}
				&:nth-of-type(2) {
					margin-top: 0;
					margin-bottom: 15vmin;
				}

				&:nth-of-type(1),
				&:nth-of-type(2) {
					article {
						&:nth-of-type(2) {
							margin-top: 5%;
						}
					}
				}

				> article {
					width: 32%;
					margin-right: 2%;
					float: left;
					&:nth-of-type(3) {
						margin-right: 0;
					}
					img {
						width: 100%;
						height: 40vmin;
						object-fit: cover;
						padding: 0 1vmin;
					}
					h3 {
						padding: 3vmin;
						font: bold 2.5vmin/1.2 'Poppins';
						color: #222;
					}
					p {
						padding: 0 3vmin;
						min-height: 15vmin;
						margin-bottom: 5vmin;
						font: normal 2vmin/1.5 'Poppins';
						color: #666;
					}
				}
			}
			a {
				display: block;
				position: absolute;
				bottom: 0vmin;
				left: 50%;
				transform: translateX(-50%);
				font: italic bold 2.4vmin/1.5 'Poppins';
				color: #333;
				transition: 0.2s;

				&:hover {
					color: #fff;
					background: #b3b1b1ba;
					padding: 0 1vmin;
				}
			}
		}
	}
	#banner {
		width: 150%;
		margin-left: -15vw;
		position: relative;
		.aniLogo {
			display: block;
			width: 300%;
			height: 10vmin;
			font: bold 7vmin 'Poppins';
			margin-left: 100%;
			transition: 0.2s;
		}
		> .inner {
			width: 100%;
			height: 70vmin;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				opacity: 0.9;
				filter: grayscale(30%);
				object-fit: cover;
			}
			h1 {
				position: absolute;
				top: 20vmin;
				width: 80%;
				margin-left: 15vw;
				transform: translateY(-50%);
				font: bold 5vmin 'Poppins';
				color: #fff;
			}
			p {
				position: absolute;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);
				margin-left: 15vw;
				font: bold 3vmin/1.5 'Poppins';
				color: #fff;
			}
			a {
				position: absolute;
				bottom: 20%;
				display: block;
				font: normal 2.4vmin/1.5 'Poppins';
				color: #fff;
				background: #666666d1;
				padding: 0 1vmin;
				margin-left: 15vw;
				i {
					padding: 0 5px;
				}
			}
		}
	}

	#brand {
		width: 100%;
		margin: 20vmin 0 40vmin;
		text-align: center;

		& article {
			//filter: contrast(70%);
			&:nth-of-type(1) {
				transition: all 1s;
			}
			&:nth-of-type(2) {
				transition: all 1s 0.3s;
			}
			&:nth-of-type(3) {
				transition: all 1s 0.5s;
			}
		}

		/*	&.on article {
			filter: contrast(120%) brightness(1.1);
			&:nth-of-type(3) {
				filter: contrast(100%) brightness(1.4);
			}
		} */

		> .inner {
			width: 100%;
			position: relative;
			margin: 0 auto;
			h1 {
				font: bold 5vmin 'Poppins';
				color: #222;
				padding-top: 3vmin;
			}
			h2 {
				font: bold 2.4vmin 'Poppins';
				color: #777;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.wrap {
				&::after {
					display: block;
					content: '';
					clear: both;
				}
				article {
					padding-top: 10vmin;
					float: left;
					width: 30%;
					margin-right: 5%;
					&:nth-of-type(3) {
						margin-right: 0;
					}

					img {
						width: 100%;
						height: 30vmin;
						object-fit: cover;
					}

					h3 {
						font: bold 3.2vmin 'Poppins';
						color: #222;
						min-height: 3vmin;
						margin: 3vmin 0;
					}
					p {
						display: none;
						font: normal 2vmin/1.5 'Poppins';
						color: #444;
					}
				}
				.linkWrapper {
					width: 0;
					transition: 0.5s;
					overflow: hidden;
					position: absolute;
					height: calc(2.4vmin * 1.5);
					bottom: -20%;
					left: 50%;
					transform: translateX(-50%);
					a {
						width: 60%;
						margin: 0 auto;
						height: calc(2.4vmin * 1.5);
						display: block; //a태그 위형제 요소들이 float이라서 display:block하면 제일 위로 간다.
						font: italic bold 2.4vmin/1.5 'Poppins';
						color: #fff;
						background-color: #b3b1b1ba;
						transition: 1s;

						&:hover {
							color: #fff;
							background: #b3b1b1ba;
						}
					}
				}
			}
		}
	}

	#banner2 {
		width: 85vw;
		position: relative;
		margin-left: -15vw;
		> .inner {
			width: 100%;
			height: 70vmin;
			margin: 0 auto;
			position: relative;

			img {
				width: 150%;
				height: 100%;
				position: absolute;
				top: 0;
				object-fit: cover;
				transition: 1.5s;
				z-index: -1;
			}
			h1 {
				position: absolute;
				top: 30%;
				width: 50%;
				margin-left: 15vw;
				transform: translateY(-50%);
				font: bold 5vmin 'Poppins';
				color: #fff;
			}
			p {
				position: absolute;
				top: 55%;
				width: 70%;
				transform: translateY(-50%);
				margin-left: 15vw;
				font: bold 3vmin/1.5 'Poppins';
				color: #fff;
			}
			a {
				position: absolute;
				top: 70%;
				display: block;
				font: normal 2.4vmin/1.5 'Poppins';
				color: #fff;
				padding: 0 5px;
				margin-left: 15vw;
				transition: 0.5s 0.5s;
				i {
					padding: 0 5px;
				}
			}
		}
	}

	#product {
		width: 100%;
		padding: 20vmin 0;
		position: relative;

		> .inner {
			width: 100%;
			position: relative;
			margin: 0 auto;

			.wrap {
				width: 100%;
				h1 {
					width: 60%;
					padding-right: 10%;
					font: bold 5vmin 'Poppins';
					color: #222;
					padding-top: 3vmin;
					float: left;
					margin-bottom: 3vmin;
					padding-left: 5vmin;
				}
				h2 {
					width: 60%;
					padding-right: 10%;
					padding-left: 5vmin;
					font: bold 2.4vmin 'Poppins';
					color: #777;
					position: absolute;
					top: 0;
				}

				p {
					width: 60%;
					padding-right: 20%;
					padding-left: 5vmin;
					font: normal 2.4vmin/1.5 'Poppins';
					height: 40vmin;
				}
				img {
					width: 40%;
					object-fit: cover;
					height: 40vmin;
					float: right;
					position: absolute;
					opacity: 0;
					transition: 0.5s 0.5s;
				}
				a {
					position: absolute;
					bottom: -5vmin;
					left: 5vmin;
					display: inline-block;
					margin-top: 2vmin;
					margin-left: 5vmin;
					font: italic bold 2.4vmin/1.5 'Poppins';
					color: #333;
					transition: 0.2s;

					&:hover {
						color: #fff;
						background: #b3b1b1ba;
						padding: 0 1vmin;
						margin-left: 5vmin;
					}
				}
			}
		}
	}
	#fetch {
		width: 100%;
		position: relative;
		margin-bottom: 15vmin;
		> .inner {
			width: 100%;
			margin: 0 auto;
			position: relative;
			h1 {
				margin: 5vmin 5vmin 2vmin 5vmin;
				font-family: 'Poppins';
				font-weight: bold;
				font-size: calc(((100vw * 0.7 * 0.3) - 10vmin) / 6.5);
			}
			.prevNews {
				width: 100%;
				margin-bottom: 10vmin;
				display: flex;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.wrapper1 {
					width: 30%;
				}
				.wrapper2 {
					width: 70%;
					margin-top: 5vmin;
					.text {
						position: relative;
						background-color: #f5f6fc;
						border-radius: 5px;
						width: 95%;
						float: left;
						overflow: hidden;
						height: 7vmin;
						padding-top: 1.75vmin;
						padding-bottom: 1.75vmin;
						margin-bottom: 2%;
						.wrap {
							overflow: hidden;
							width: 90%;
							height: 3.5vmin;
							margin-left: 5%;
							h2 {
								font: normal 2vmin 'Poppins';
							}
						}
					}
				}
			}

			.prevVids {
				width: 100%;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				> article {
					width: 30%;
					float: left;
					margin: 1%;
					&:nth-of-type(1) {
						margin-left: 5%;
					}
					> .wrap {
						width: 100%;
						height: 25vmin;
						overflow: hidden;
						> img {
							width: 100%;
							height: 150%;
							margin-top: -5vmin;
						}
					}
				}
			}
		}
	}
}

@media screen and(max-width:1179px) {
	.content.main {
		width: 100%;
		position: relative;

		#service {
			width: 100%;
			margin: 30vmin 0 10vmin;
			position: relative;

			h1 {
				text-align: center;
				font: bold 5vmin 'Poppins';
				color: #222;
				padding-top: 3vmin;
			}
			h2 {
				text-align: center;
				font: bold 2.5vmin 'Poppins';
				color: #777;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			> .inner {
				width: 100%;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;

				.box {
					margin-top: 20vmin;
					width: 100%;
					margin-right: 2vmin;

					&::after {
						content: '';
						display: block;
						clear: both;
					}
					&:nth-of-type(2) {
						margin-top: 0;
						margin-bottom: 20vmin;
					}

					&:nth-of-type(1),
					&:nth-of-type(2) {
						article {
							&:nth-of-type(2) {
								margin-top: 5%;
							}
						}
					}

					article {
						width: 32%;
						margin-right: 2%;
						float: left;
						&:nth-of-type(3) {
							margin-right: 0;
						}
						img {
							width: 100%;
							height: 40vmin;
							object-fit: cover;
							padding: 0 1vmin;
						}
						h3 {
							padding: 3vmin;
							font: bold 2.5vmin/1.2 'Poppins';
							color: #222;
						}
						p {
							padding: 0 3vmin;
							min-height: 15vmin;
							margin-bottom: 5vmin;
							font: normal 2vmin/1.5 'Poppins';
							color: #666;
						}
					}
				}
				a {
					display: block;
					position: absolute;
					bottom: 0vmin;
					left: 50%;
					transform: translateX(-50%);
					font: italic bold 2.4vmin/1.5 'Poppins';
					color: #333;
					transition: 0.2s;

					&:hover {
						color: #fff;
						background: #b3b1b1ba;
						padding: 0 1vmin;
					}
				}
			}
		}
		#banner {
			width: 100%;
			position: relative;
			margin-left: 0;
			.aniLogo {
				height: 7vmin;
				border: 1px solid black;
				font: bold 4.5vmin 'Poppins';
				margin-left: 100%;
			}
			> .inner {
				width: 100%; //
				height: 70vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;
				img {
					width: 100%; //
					height: 100%;
					position: absolute;
					left: 0;
					z-index: -1;
					filter: grayscale(30%);
					object-fit: cover;
				}
				h1 {
					position: absolute;
					top: 20vmin; //
					width: 80%;
					margin-left: 5vmin; //
					font: bold 5vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 50%;
					width: 80%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 3vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					bottom: 30%;
					display: block;
					font: normal 2.4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 1vmin;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#brand {
			width: 100%;
			margin: 20vmin 0 20vmin;
			text-align: center;

			& article {
				//	filter: contrast(70%);
				&:nth-of-type(1) {
					transition: all 1s;
				}
				&:nth-of-type(2) {
					transition: all 1s 0.3s;
				}
				&:nth-of-type(3) {
					transition: all 1s 0.5s;
				}
			}

			&.on article {
				filter: contrast(120%) brightness(1.1);
				&:nth-of-type(3) {
					filter: contrast(100%) brightness(1.4);
				}
			}

			> .inner {
				width: 100%; //
				position: relative;
				margin: 0 auto;
				padding: 0 2vmin;
				h1 {
					font: bold 5vmin 'Poppins';
					color: #222;
					padding-top: 3vmin;
				}
				h2 {
					font: bold 2.4vmin 'Poppins';
					color: #777;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

				.wrap {
					&::after {
						display: block;
						content: '';
						clear: both;
					}
					article {
						padding-top: 10vmin;
						float: left;
						width: 30%;
						margin-right: 5%;
						&:nth-of-type(3) {
							margin-right: 0;
						}

						img {
							width: 100%;
							height: 30vmin;
							object-fit: cover;
						}

						h3 {
							font: bold 3.2vmin 'Poppins';
							color: #222;
							min-height: 3vmin;
							margin: 3vmin 0;
						}
						p {
							display: none;
							font: normal 2vmin/1.5 'Poppins';
							color: #444;
						}
					}
					.linkWrapper {
						width: 0;
						transition: 0.5s;
						overflow: hidden;
						position: absolute;
						height: calc(2.4vmin * 1.5);
						bottom: -20%;
						left: 50%;
						transform: translateX(-50%);
						a {
							height: calc(2.4vmin * 1.5);
							display: block; //a태그 위형제 요소들이 float이라서 display:block하면 제일 위로 간다.
							font: italic bold 2.4vmin/1.5 'Poppins';
							color: #fff;
							background-color: #b3b1b1ba;
						}
					}
				}
			}
		}

		#banner2 {
			width: 100%;
			position: relative;
			margin-left: 0;
			padding-top: 15vmin;
			> .inner {
				width: 100%; //
				height: 70vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;

				img {
					width: 150%; //
					height: 100%;
					position: absolute;
					left: 0; //
					top: 0;
					object-fit: cover;
					z-index: -1;
				}
				h1 {
					position: absolute;
					top: 30%;
					width: 50%;
					margin-left: 5vmin;
					transform: translateY(-50%);
					font: bold 5vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 55%;
					width: 80%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 3vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					top: 70%;
					display: block;
					font: normal 2.4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 5px;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#product {
			width: 100%;
			padding-bottom: 20vmin;
			position: relative;

			> .inner {
				width: 100%; //
				padding: 0 2vmin;
				position: relative;
				margin: 0 auto;

				.wrap {
					width: 100%;
					h1 {
						width: 60%;
						padding-right: 10%;
						font: bold 5vmin 'Poppins';
						color: #222;
						padding-top: 6vmin;
						float: left;
						margin-bottom: 3vmin;
						padding-left: 2vmin;
					}
					h2 {
						width: 60%;
						padding-right: 10%;
						padding-left: 2vmin;
						font: bold 2.4vmin 'Poppins';
						color: #777;
						position: absolute;
						top: 0;
					}

					p {
						width: 70%;
						padding-right: 20%;
						padding-left: 2vmin;
						font: normal 2.4vmin/1.5 'Poppins';
						height: 40vmin;
					}
					img {
						width: 40%;
						object-fit: cover;
						height: 40vmin;
						float: right;
						padding-right: 2vmin;
						position: absolute;
					}
					a {
						position: absolute;
						bottom: -2vmin;
						left: 4vmin;
						display: inline-block;
						margin-top: 2vmin;
						margin-left: 0vmin;
						font: italic bold 2.4vmin/1.5 'Poppins';
						color: #333;
						transition: 0.2s;

						&:hover {
							color: #fff;
							background: #b3b1b1ba;
							padding: 0 1vmin;
							margin-left: 5vmin;
						}
					}
				}
			}
		}
		#fetch {
			width: 100%;
			position: relative;
			margin-bottom: 15vmin;
			> .inner {
				width: 100%;
				margin: 0 auto;
				position: relative;
				h1 {
					margin: 5vmin 5vmin 2vmin 5vmin;
					font-family: 'Poppins';
					font-weight: bold;
					font-size: calc(((100vw * 0.3) - 10vmin) / 6.5);
				}
				.prevNews {
					width: 100%;
					margin-bottom: 10vmin;
					display: flex;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					.wrapper1 {
						width: 30%;
					}
					.wrapper2 {
						width: 70%;
						margin-top: 5vmin;
						.text {
							position: relative;
							background-color: #f5f6fc;
							border-radius: 5px;
							width: 95%;
							float: left;
							overflow: hidden;
							height: 7vmin;
							padding-top: 1.75vmin;
							padding-bottom: 1.75vmin;
							margin-bottom: 2%;
							.wrap {
								overflow: hidden;
								width: 90%;
								height: 3.5vmin;
								margin-left: 5%;
								h2 {
									font: normal 2vmin 'Poppins';
								}
							}
						}
					}
				}

				.prevVids {
					width: 100%;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					> article {
						width: 30%;
						float: left;
						margin: 1%;
						&:nth-of-type(1) {
							margin-left: 5%;
						}
						> .wrap {
							width: 100%;
							height: 25vmin;
							overflow: hidden;
							> img {
								width: 100%;
								height: 150%;
								margin-top: -5vmin;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and(max-width:649px) {
	.content.main {
		width: 100%;
		position: relative;

		#service {
			width: 100%;
			margin: 30vmin 0 30vmin;
			position: relative;

			h1 {
				text-align: center;
				font: bold 7vmin 'Poppins';
				color: #222;
				padding-top: 3vmin;
			}
			h2 {
				text-align: center;
				font: bold 5vmin 'Poppins';
				color: #777;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.inner {
				width: 100%;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;
				.case {
					width: 100%;
					overflow: hidden;
					.box {
						margin-top: 8vmin;
						width: 300%;
						margin-right: 2vmin;
						position: relative;
						height: 80vmin;

						&::after {
							content: '';
							display: block;
							clear: both;
						}
						&:nth-of-type(2) {
							margin-top: 0;
							margin-bottom: 20vmin;
							text-align: right;
						}

						&:nth-of-type(1),
						&:nth-of-type(2) {
							article {
								&:nth-of-type(2) {
									margin-top: 0%;
								}
							}
						}

						article {
							width: calc(100% / 3);
							float: left;
							margin-right: 0;
							position: absolute;
							opacity: 0;
							transition: opacity 0.5s;

							&:nth-of-type(1) {
								opacity: 1;
							}
							img {
								width: 80%;
								height: 50vmin;
								object-fit: cover;
								padding: 0 1vmin;
							}
							h3 {
								padding: 2vmin;
								font: bold 6vmin/1.2 'Poppins';
								color: #222;
							}
							p {
								padding: 0 3vmin;
								min-height: 15vmin;
								margin-bottom: 5vmin;
								font: normal 4vmin/1.5 'Poppins';
								color: #666;
							}
						}
					}
				}
				.wrap2 {
					width: 33%;
					margin: -10vmin auto 0;
					//	border: 1px solid black;
					.dot {
						width: 3vmin;
						height: 3vmin;
						line-height: 0;
						margin-right: 30%;
						border-radius: 50%;
						background: #777;
						display: inline-block;
						&:nth-of-type(3) {
							margin-right: 0;
						}
					}
				}
				a {
					display: block;
					position: absolute;
					bottom: -20vmin;
					left: 50%;
					transform: translateX(-50%);
					font: italic bold 5vmin/1.5 'Poppins';
					color: #333;
					transition: 0.2s;

					&:hover {
						color: #fff;
						background: #b3b1b1ba;
						padding: 0 1vmin;
					}
				}
			}
		}
		#banner {
			width: 100%;
			position: relative;
			margin-top: 10vmin;
			.aniLogo {
				height: 7vmin;
				border: 1px solid black;
				margin-left: 100%;
			}
			> .inner {
				width: 100%; //
				height: 60vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;
				img {
					width: 100%; //
					height: 60vmin;
					position: absolute;
					left: 0;
					z-index: -1;
					filter: grayscale(30%);
					object-fit: cover;
				}
				h1 {
					position: absolute;
					top: 20vmin; //
					width: 80%;
					margin-left: 5vmin; //
					font: bold 5vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 50%;
					width: 80%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 3vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					bottom: 30%;
					display: block;
					font: normal 2.4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 1vmin;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#brand {
			width: 100%;
			margin: 20vmin 0 20vmin;
			text-align: center;

			& article {
				//	filter: contrast(70%);
				&:nth-of-type(1) {
					transition: all 1s;
				}
				&:nth-of-type(2) {
					transition: all 1s 0.3s;
				}
				&:nth-of-type(3) {
					transition: all 1s 0.5s;
				}
			}

			&.on article {
				filter: contrast(120%) brightness(1.1);
				&:nth-of-type(3) {
					filter: contrast(100%) brightness(1.4);
				}
			}

			> .inner {
				width: 100%; //
				position: relative;
				margin: 0 auto;
				padding: 0 2vmin;
				h1 {
					font: bold 5vmin 'Poppins';
					color: #222;
					padding-top: 3vmin;
				}
				h2 {
					font: bold 2.4vmin 'Poppins';
					color: #777;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

				.wrap {
					&::after {
						display: block;
						content: '';
						clear: both;
					}
					article {
						padding-top: 10vmin;
						float: left;
						width: 30%;
						margin-right: 5%;
						&:nth-of-type(3) {
							margin-right: 0;
						}

						img {
							width: 100%;
							height: 30vmin;
							object-fit: cover;
						}

						h3 {
							font: bold 3.2vmin 'Poppins';
							color: #222;
							min-height: 3vmin;
							margin: 3vmin 0;
						}
						p {
							display: none;
							font: normal 2vmin/1.5 'Poppins';
							color: #444;
						}
					}
					.linkWrapper {
						width: 0;
						transition: 0.5s;
						overflow: hidden;
						position: absolute;
						height: calc(2.4vmin * 1.5);
						bottom: -20%;
						left: 50%;
						transform: translateX(-50%);
						a {
							height: calc(2.4vmin * 1.5);
							display: block; //a태그 위형제 요소들이 float이라서 display:block하면 제일 위로 간다.
							font: italic bold 2.4vmin/1.5 'Poppins';
							color: #fff;
							background-color: #b3b1b1ba;
						}
					}
				}
			}
		}

		#banner2 {
			width: 100%;
			position: relative;
			> .inner {
				width: 100%; //
				height: 60vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;

				img {
					width: 150%; //
					height: 60vmin;
					position: absolute;
					left: 0; //
					top: 0;
					object-fit: cover;
					z-index: -1;
				}
				h1 {
					position: absolute;
					top: 30%;
					width: 50%;
					margin-left: 5vmin;
					transform: translateY(-50%);
					font: bold 5vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 55%;
					width: 80%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 3vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					top: 70%;
					display: block;
					font: normal 2.4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 5px;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#product {
			width: 100%;
			padding-bottom: 20vmin;
			position: relative;

			> .inner {
				width: 100%; //
				padding: 0 2vmin;
				position: relative;
				margin: 0 auto;

				.wrap {
					width: 100%;
					h1 {
						width: 60%;
						padding-right: 10%;
						font: bold 5vmin 'Poppins';
						color: #222;
						padding-top: 6vmin;
						float: left;
						margin-bottom: 3vmin;
						padding-left: 2vmin;
					}
					h2 {
						width: 60%;
						padding-right: 10%;
						padding-left: 2vmin;
						font: bold 2.4vmin 'Poppins';
						color: #777;
						position: absolute;
						top: 0;
					}

					p {
						width: 70%;
						padding-right: 20%;
						padding-left: 2vmin;
						font: normal 2.4vmin/1.5 'Poppins';
						height: 40vmin;
					}
					img {
						width: 40%;
						object-fit: cover;
						height: 40vmin;
						float: right;
						padding-right: 2vmin;
						position: absolute;
					}
					a {
						position: absolute;
						bottom: -2vmin;
						left: 4vmin;
						display: inline-block;
						margin-top: 2vmin;
						margin-left: 0vmin;
						font: italic bold 2.4vmin/1.5 'Poppins';
						color: #333;
						transition: 0.2s;

						&:hover {
							color: #fff;
							background: #b3b1b1ba;
							padding: 0 1vmin;
							margin-left: 5vmin;
						}
					}
				}
			}
		}
		#fetch {
			width: 100%;
			position: relative;
			margin-bottom: 15vmin;
			> .inner {
				width: 100%;
				margin: 0 auto;
				position: relative;
				h1 {
					margin: 5vmin 5vmin 2vmin 5vmin;
					font-family: 'Poppins';
					font-weight: bold;
					font-size: 5vmin;
				}
				.prevNews {
					width: 100%;
					margin-bottom: 10vmin;
					display: block;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					.wrapper1 {
						width: 100%;
					}
					.wrapper2 {
						width: 80%;
						margin-top: 5vmin;
						margin-left: 10%;
						.text {
							position: relative;
							background-color: #f5f6fc;
							border-radius: 5px;
							width: 95%;
							float: left;
							overflow: hidden;
							height: 7vmin;
							padding-top: 1.75vmin;
							padding-bottom: 1.75vmin;
							margin-bottom: 2%;
							.wrap {
								overflow: hidden;
								width: 90%;
								height: 3.5vmin;
								margin-left: 5%;
								h2 {
									font: normal 2vmin 'Poppins';
								}
							}
						}
					}
				}

				.prevVids {
					width: 100%;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					> article {
						width: 30%;
						float: left;
						margin: 1%;
						&:nth-of-type(1) {
							margin-left: 5%;
						}
						> .wrap {
							width: 100%;
							height: 25vmin;
							overflow: hidden;
							> img {
								width: 100%;
								height: 150%;
								margin-top: -5vmin;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and(max-width:449px) {
	.content.main {
		width: 100%;
		position: relative;

		#service {
			width: 100%;
			margin: 20vmin 0 30vmin;
			position: relative;

			h1 {
				text-align: center;
				font: bold 6vmin 'Poppins';
				color: #222;
				padding-top: 3vmin;
			}
			h2 {
				text-align: center;
				font: bold 4vmin 'Poppins';
				color: #777;
				position: absolute;
				top: -2vmin;
				left: 50%;
				transform: translateX(-50%);
			}

			.inner {
				width: 100%;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;
				.case {
					width: 100%;
					overflow: hidden;
					.box {
						margin-top: 8vmin;
						width: 300%;
						margin-right: 2vmin;
						position: relative;
						height: 80vmin;

						&::after {
							content: '';
							display: block;
							clear: both;
						}
						&:nth-of-type(2) {
							margin-top: 0;
							margin-bottom: 0vmin;
							text-align: right;
						}

						&:nth-of-type(1),
						&:nth-of-type(2) {
							article {
								&:nth-of-type(2) {
									margin-top: 0%;
								}
							}
						}

						article {
							width: calc(100% / 3);
							float: left;
							margin-right: 0;
							position: absolute;
							opacity: 0;
							transition: opacity 0.5s;

							&:nth-of-type(1) {
								opacity: 1;
							}

							&.odd {
								transition: 1s;
								left: -100%;
							}
							&.even {
								transition: 1s;
								right: -100%;
							}
							img {
								width: 80%;
								height: 45vmin;
								object-fit: cover;
								padding: 0 1vmin;
							}
							h3 {
								padding: 2vmin;
								font: bold 5vmin/1.2 'Poppins';
								color: #222;
							}
							p {
								padding: 0 3vmin;
								min-height: 15vmin;
								margin-bottom: 5vmin;
								font: normal 4vmin/1.3 'Poppins';
								color: #666;
							}
						}
					}
				}
				.wrap2 {
					width: 33%;
					margin: 0 auto;
					//	border: 1px solid black;
					.dot {
						width: 3vmin;
						height: 3vmin;
						line-height: 0;
						margin-right: 33.3%;
						border-radius: 50%;
						background: #777;
						display: inline-block;
						&:nth-of-type(3) {
							margin-right: 0;
						}
					}
				}
				a {
					display: block;
					position: absolute;
					bottom: -15vmin;
					left: 50%;
					transform: translateX(-50%);
					font: italic bold 4.8vmin/1.5 'Poppins';
					color: #333;
					transition: 0.2s;

					&:hover {
						color: #fff;
						background: #b3b1b1ba;
						padding: 0 1vmin;
					}
				}
			}
		}
		#banner {
			width: 100%;
			position: relative;
			.aniLogo {
				height: 7vmin;
				border: 1px solid black;
				margin-left: 100%;
			}
			> .inner {
				width: 100%; //
				height: 60vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;
				img {
					width: 100%; //
					height: 60vmin;
					position: absolute;
					left: 0;
					z-index: -1;
					filter: brightness(0.8);
					object-fit: cover;
				}
				h1 {
					position: absolute;
					top: 15vmin; //
					width: 80%;
					margin-left: 5vmin; //
					font: bold 6vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 50%;
					width: 80%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 4vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					bottom: 15%;
					display: block;
					font: normal 4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 1vmin;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#brand {
			width: 100%;
			margin-bottom: 20vmin;
			text-align: center;
			margin: 0;
			padding: 25vmin 0 15vmin;

			> .inner {
				width: 100%;
				position: relative;
				margin: 0 auto;
				padding: 0 2vmin;
				h1 {
					font: bold 8vmin 'Poppins';
					color: #222;
					padding-top: 4vmin;
				}
				h2 {
					font: bold 5vmin 'Poppins';
					color: #777;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

				.case {
					width: 100%;
					overflow: hidden;
					.wrap {
						width: 240%;
						padding: 0 5%;
						&::after {
							display: block;
							content: '';
							clear: both;
						}
						article {
							padding-top: 10vmin;
							padding-right: 5vmin;
							float: left;
							width: calc(100% / 3);
							margin-right: 0%;
							&:nth-of-type(3) {
							}

							img {
								width: 100%;
								height: 65vw;
								object-fit: cover;
							}

							h3 {
								font: bold 5vmin 'Poppins';
								color: #222;
								min-height: 3vmin;
								margin: 3vmin 0;
							}
							p {
								display: none;
								font: normal 2vmin/1.5 'Poppins';
								color: #444;
							}
						}
						.linkWrapper {
							width: 0;
							transition: 0.5s;
							overflow: hidden;
							position: absolute;
							height: 8vmin;
							bottom: -10%;
							left: 50%;
							transform: translateX(-50%);
							a {
								width: 100%;
								height: 100%;
								display: block; //a태그 위형제 요소들이 float이라서 display:block하면 제일 위로 간다.
								font: italic bold 5vmin/1.5 'Poppins';
								color: #fff;
								background-color: #b3b1b1ba;
							}
						}
					}
				}
			}
		}

		#banner2 {
			width: 100%;
			position: relative;
			overflow: hidden;
			padding-top: 20vmin;
			> .inner {
				width: 100%; //
				height: 60vmin;
				margin: 0 auto;
				padding: 0 2vmin;
				position: relative;

				img {
					width: 150%; //
					height: 60vmin;
					position: absolute;
					left: 0; //
					top: 0;
					object-fit: cover;
					filter: brightness(0.8);
					z-index: -1;
				}
				h1 {
					position: absolute;
					top: 15vmin;
					width: 80%;
					margin-left: 5vmin;
					transform: translateY(-50%);
					font: bold 6vmin 'Poppins';
					color: #fff;
				}
				p {
					position: absolute;
					top: 50%;
					width: 90%;
					transform: translateY(-50%);
					margin-left: 5vmin;
					font: bold 4vmin/1.5 'Poppins';
					color: #fff;
				}
				a {
					position: absolute;
					top: 75%;
					display: block;
					font: normal 4vmin/1.5 'Poppins';
					color: #fff;
					background: #666666d1;
					padding: 0 5px;
					margin-left: 5vmin;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		#product {
			width: 100%;
			padding-bottom: 20vmin;
			position: relative;

			> .inner {
				width: 100%; //
				padding: 0 2vmin;
				position: relative;
				margin: 0 auto;

				.wrap {
					width: 100%;
					h1 {
						width: 60%;
						padding-right: 10%;
						font: bold 5vmin 'Poppins';
						color: #222;
						padding-top: 6vmin;
						float: left;
						margin-bottom: 3vmin;
						padding-left: 2vmin;
					}
					h2 {
						width: 60%;
						padding-right: 10%;
						padding-left: 2vmin;
						font: bold 3.5vmin 'Poppins';
						color: #777;
						position: absolute;
						top: 0;
					}

					p {
						width: 70%;
						padding-right: 20%;
						padding-left: 2vmin;
						font: normal 4vmin/1.5 'Poppins';
						height: 40vmin;
					}
					img {
						width: 40%;
						object-fit: cover;
						height: 50vmin;
						float: right;
						padding-right: 2vmin;
						position: absolute;
					}
					a {
						position: absolute;
						bottom: -20vmin;
						left: 65vmin;
						display: inline-block;
						margin-top: 2vmin;
						margin-left: 0vmin;
						font: italic bold 4vmin/1.5 'Poppins';
						color: #333;
						transition: 0.2s;

						&:hover {
							color: #fff;
							background: #b3b1b1ba;
							padding: 0 1vmin;
							margin-left: 0vmin;
						}
					}
				}
			}
		}
		#fetch {
			width: 100%;
			position: relative;
			margin-bottom: 15vmin;
			> .inner {
				width: 100%;
				margin: 0 auto;
				position: relative;
				h1 {
					margin: 5vmin 5vmin 2vmin 5vmin;
					font-family: 'Poppins';
					font-weight: bold;
					font-size: 5vmin;
				}
				.prevNews {
					width: 100%;
					margin-bottom: 10vmin;
					display: block;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					.wrapper1 {
						width: 100%;
					}
					.wrapper2 {
						width: 80%;
						margin-top: 5vmin;
						margin-left: 10%;
						.text {
							position: relative;
							background-color: #f5f6fc;
							border-radius: 5px;
							width: 95%;
							float: left;
							overflow: hidden;
							height: 7vmin;
							padding-top: 1.75vmin;
							padding-bottom: 1.75vmin;
							margin-bottom: 2%;
							.wrap {
								overflow: hidden;
								width: 90%;
								height: 3.5vmin;
								margin-left: 5%;
								h2 {
									font: normal 2vmin 'Poppins';
								}
							}
						}
					}
				}

				.prevVids {
					width: 100%;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					> article {
						width: 30%;
						float: left;
						margin: 1%;
						&:nth-of-type(1) {
							margin-left: 5%;
						}
						> .wrap {
							width: 100%;
							height: 25vmin;
							overflow: hidden;
							> img {
								width: 100%;
								height: 150%;
								margin-top: -5vmin;
							}
						}
					}
				}
			}
		}
	}
}
