.content.main {
	width: 100%;
	position: relative;

	#service {
		width: 100%;
		margin: 30vmin 0 10vmin;
		position: relative;

		h1 {
			text-align: center;
			font: bold 5vmin 'Poppins';
			color: #222;
			padding-top: 3vmin;
		}
		h2 {
			text-align: center;
			font: bold 2.5vmin 'Poppins';
			color: #777;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		.inner {
			width: 1180px;
			margin: 0 auto;
			position: relative;

			.box {
				margin-top: 20vmin;
				width: 100%;
				margin-right: 2vmin;

				&::after {
					content: '';
					display: block;
					clear: both;
				}
				&:nth-of-type(2) {
					margin-top: 0;
					margin-bottom: 20vmin;
				}

				&:nth-of-type(1),
				&:nth-of-type(2) {
					article {
						&:nth-of-type(2) {
							margin-top: 5%;
						}
					}
				}

				article {
					width: 32%;
					margin-right: 2%;
					float: left;
					&:nth-of-type(3) {
						margin-right: 0;
					}
					img {
						width: 100%;
						height: 40vmin;
						object-fit: cover;
						padding: 0 1vmin;
					}
					h3 {
						padding: 3vmin;
						font: bold 2.5vmin/1.2 'Poppins';
						color: #222;
					}
					p {
						padding: 0 3vmin;
						min-height: 15vmin;
						margin-bottom: 5vmin;
						font: normal 2vmin/1.5 'Poppins';
						color: #666;
					}
				}
			}
			a {
				display: block;
				position: absolute;
				bottom: -10vmin;
				left: 50%;
				transform: translateX(-50%);
				font: italic bold 2.4vmin/1.5 'Poppins';
				color: #333;
				transition: 0.2s;

				&:hover {
					color: #fff;
					background: #b3b1b1ba;
					padding: 0 1vmin;
				}
			}
		}
	}
	#banner {
		width: 100%;
		position: relative;
		.aniLogo {
			height: 20vmin;
			border: 1px solid black;
		}
		.inner {
			width: 1180px;
			height: 60vmin;
			margin: 0 auto;
			img {
				width: calc(100vw - 10px);
				height: 60vmin;
				position: absolute;
				left: calc((100vw - 1180px) / -2);
				z-index: -1;
				filter: grayscale(30%);
				object-fit: cover;
			}
			h1 {
				position: absolute;
				top: 20%;
				width: 50%;
				margin-left: 5vmin;
				transform: translateY(-50%);
				font: bold 5vmin 'Poppins';
				color: #fff;
			}
			p {
				position: absolute;
				top: 50%;
				width: 80%;
				transform: translateY(-50%);
				margin-left: 5vmin;
				font: bold 3vmin/1.5 'Poppins';
				color: #fff;
			}
			a {
				position: absolute;
				bottom: 20%;
				display: block;
				font: normal 2.4vmin/1.5 'Poppins';
				color: #fff;
				background: #666666d1;
				padding: 0 1vmin;
				margin-left: 5vmin;
				i {
					padding: 0 5px;
				}
			}
		}
	}

	#brand {
		width: 100%;
		margin: 20vmin 0 30vmin;
		text-align: center;

		& article {
			filter: contrast(70%);
			&:nth-of-type(1) {
				transition: all 1s;
			}
			&:nth-of-type(2) {
				transition: all 1s 0.3s;
			}
			&:nth-of-type(3) {
				transition: all 1s 0.5s;
			}
		}

		&.on article {
			filter: contrast(120%) brightness(1.1);
			&:nth-of-type(3) {
				filter: contrast(100%) brightness(1.4);
			}
		}

		.inner {
			width: 1180px;
			position: relative;
			margin: 0 auto;
			h1 {
				font: bold 5vmin 'Poppins';
				color: #222;
				padding-top: 3vmin;
			}
			h2 {
				font: bold 2.4vmin 'Poppins';
				color: #777;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			article {
				padding-top: 10vmin;
				float: left;
				width: 30%;
				margin-right: 5%;
				&:nth-of-type(3) {
					margin-right: 0;
				}

				img {
					width: 100%;
					height: 30vmin;
					object-fit: cover;
				}

				h3 {
					font: bold 3.2vmin 'Poppins';
					color: #222;
					min-height: 3vmin;
					margin: 3vmin 0;
				}
				p {
					display: none;
					font: normal 2vmin/1.5 'Poppins';
					color: #444;
				}
			}
			a {
				position: absolute;
				bottom: -20%;
				left: 50%;
				transform: translateX(-50%);
				display: block; //a태그 위형제 요소들이 float이라서 display:block하면 제일 위로 간다.
				margin-top: 10vmin;
				font: italic bold 2.4vmin/1.5 'Poppins';
				color: #333;
				transition: 0.2s;

				&:hover {
					color: #fff;
					background: #b3b1b1ba;
					padding: 0 1vmin;
				}
			}
		}
	}

	#banner2 {
		width: 100%;
		position: relative;
		padding: 30vmin 0;
		.inner {
			width: 1180px;
			height: 60vmin;
			margin: 0 auto;
			position: relative;

			img {
				width: calc((100vw - 1180px) / 2 + 1180px);
				height: 60vmin;
				position: absolute;
				left: calc((100vw - 1180px) / -2);
				top: 0;
				object-fit: cover;
				z-index: -1;
			}
			h1 {
				position: absolute;
				top: 30%;
				width: 50%;
				margin-left: 5vmin;
				transform: translateY(-50%);
				font: bold 5vmin 'Poppins';
				color: #fff;
			}
			p {
				position: absolute;
				top: 55%;
				width: 80%;
				transform: translateY(-50%);
				margin-left: 5vmin;
				font: bold 3vmin/1.5 'Poppins';
				color: #fff;
			}
			a {
				position: absolute;
				top: 70%;
				display: block;
				font: normal 2.4vmin/1.5 'Poppins';
				color: #fff;
				background: #666666d1;
				padding: 0 5px;
				margin-left: 5vmin;
				i {
					padding: 0 5px;
				}
			}
		}
	}

	#product {
		width: 100%;
		padding-bottom: 20vmin;
		position: relative;

		.inner {
			width: 1180px;
			position: relative;
			margin: 0 auto;

			.wrap {
				width: 100%;
				h1 {
					width: 60%;
					padding-right: 10%;
					font: bold 5vmin 'Poppins';
					color: #222;
					padding-top: 3vmin;
					float: left;
					margin-bottom: 3vmin;
					padding-left: 5vmin;
				}
				h2 {
					width: 60%;
					padding-right: 10%;
					padding-left: 5vmin;
					font: bold 2.4vmin 'Poppins';
					color: #777;
					position: absolute;
					top: 0;
				}

				p {
					width: 60%;
					padding-right: 20%;
					padding-left: 5vmin;
					font: normal 2.4vmin/1.5 'Poppins';
					height: 40vmin;
				}
				img {
					width: 40%;
					object-fit: cover;
					height: 40vmin;
					float: right;
					position: absolute;
				}
				a {
					position: absolute;
					bottom: 0;
					left: vmin;
					display: inline-block;
					margin-top: 2vmin;
					margin-left: 5vmin;
					font: italic bold 2.4vmin/1.5 'Poppins';
					color: #333;
					transition: 0.2s;

					&:hover {
						color: #fff;
						background: #b3b1b1ba;
						padding: 0 1vmin;
						margin-left: 5vmin;
					}
				}
			}
		}
	}
}
