/* .advertisement {
	width: 100%;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.main {
		width: 100%;
		display: flex;
		position: relative;
		height: 45vmin;
		margin-bottom: 20vmin;
		> .pic {
			width: 50%;
			padding: 10px;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 180%;
				margin-top: -30%;
				object-fit: cover;
			}
		}
		.txt {
			width: 70%;
			height: 95%;
			position: absolute;
			right: 0;
			bottom: -10%;
			text-align: left;
			background-color: #ededed;
			z-index: -1;
			.txt_box {
				position: absolute;
				height: 100%;
				left: 25%;
				top: 10%;
				padding: 2vmin;
				> h1 {
					font: bold 4vmin 'Poppins';
					margin-top: 5vmin;
					margin-bottom: 4vmin;
					margin-left: 5vmin;
				}
				h2 {
					font: bold 2vmin 'Poppins';
					position: absolute;
					left: 2vmin;
					top: 3vmin;
					margin-left: 5vmin;
				}
				> p {
					font: 3vmin/1.5 'Lora';
					margin-left: 5vmin;
				}
			}
		}
	}
	article {
		width: 50%;
		height: 35vmin;
		padding: 0 5vmin;
		float: left;
		display: block;
		position: relative;

		&:nth-of-type(even) {
			margin-top: 17vmin;
		}

		p {
			font: bold 7vmin/1 'Poppins';
		}
		.title {
			font: 2vmin/1 'Poppins';
			position: absolute;
			right: 5vmin;
		}

		> .pic {
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: inline-block;
			position: relative;
			cursor: pointer;
			img {
				width: 110%;
				height: 150%;
				position: absolute;
				top: -25%;
				left: -5%;
			}
		}
	}
}
 */

/*
@media screen and(max-width:1179px) {
	.advertisement {
		width: 100%;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.main {
			width: 100%;
			display: flex;
			position: relative;
			height: 45vmin;
			margin-bottom: 20vmin;
			cursor: pointer;
			> .pic {
				width: 50%;
				padding: 10px;
				position: relative;
				overflow: hidden;
				img {
					width: 100%;
					height: 180%;
					margin-top: -30%;
					object-fit: cover;
				}
			}
			.txt {
				width: 70%;
				height: 95%;
				position: absolute;
				right: 0;
				bottom: -10%;
				text-align: left;
				background-color: #ededed;
				z-index: -1;
				.txt_box {
					position: absolute;
					height: 100%;
					left: 25%;
					top: 10%;
					padding: 2vmin;
					> h1 {
						font: bold 4vmin 'Poppins';
						margin-top: 5vmin;
						margin-bottom: 4vmin;
						margin-left: 5vmin;
					}
					h2 {
						font: bold 2vmin 'Poppins';
						position: absolute;
						left: 2vmin;
						top: 3vmin;
						margin-left: 5vmin;
					}
					> p {
						font: 3vmin/1.5 'Lora';
						margin-left: 5vmin;
					}
				}
			}
		}
		article {
			width: 50%;
			height: 35vmin;
			padding: 0 5vmin;
			float: left;
			display: block;
			position: relative;

			&:nth-of-type(even) {
				margin-top: 17vmin;
			}

			p {
				font: bold 7vmin/1 'Poppins';
			}
			.title {
				font: 2vmin/1 'Poppins';
				position: absolute;
				right: 5vmin;
			}

			> .pic {
				width: 100%;
				height: 100%;
				overflow: hidden;
				display: inline-block;
				position: relative;
				img {
					width: 110%;
					height: 150%;
					position: absolute;
					top: -25%;
					left: -5%;
				}
			}
		}
	}
}

*/

.advertisement {
	width: 100%;
	position: relative;
	> h1 {
		font: bold 8vmin/1 'Poppins';
		margin-bottom: 2vmin;
		margin-left: 1vmin;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-color: #ddd;
			width: 5px;
			height: 17vmin;
			top: 0%;
			left: 0%;
			z-index: -1;
		}
	}
	> p {
		font: 3vmin/1 'Poppins';
		margin-left: 2vmin;
	}
	&::after {
		clear: both;
		display: block;
		content: '';
	}

	> article {
		position: relative;
		margin-top: 10%;
		width: 45%;
		margin-left: 5%;
		float: left;
		.pic {
			width: 100%;
			height: 30vh;
			position: relative;
			overflow: hidden;
			> img {
				object-fit: cover;
				width: 100%;
				height: 50vh;
				margin-top: -10vh;
			}
		}
	}
}
