/* .advertisement {
	width: 100%;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.main {
		width: 100%;
		display: flex;
		position: relative;
		height: 45vmin;
		margin-bottom: 20vmin;
		> .pic {
			width: 50%;
			padding: 10px;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 180%;
				margin-top: -30%;
				object-fit: cover;
			}
		}
		.txt {
			width: 70%;
			height: 95%;
			position: absolute;
			right: 0;
			bottom: -10%;
			text-align: left;
			background-color: #ededed;
			z-index: -1;
			.txt_box {
				position: absolute;
				height: 100%;
				left: 25%;
				top: 10%;
				padding: 2vmin;
				> h1 {
					font: bold 4vmin 'Poppins';
					margin-top: 5vmin;
					margin-bottom: 4vmin;
					margin-left: 5vmin;
				}
				h2 {
					font: bold 2vmin 'Poppins';
					position: absolute;
					left: 2vmin;
					top: 3vmin;
					margin-left: 5vmin;
				}
				> p {
					font: 3vmin/1.5 'Lora';
					margin-left: 5vmin;
				}
			}
		}
	}
	article {
		width: 50%;
		height: 35vmin;
		padding: 0 5vmin;
		float: left;
		display: block;
		position: relative;

		&:nth-of-type(even) {
			margin-top: 17vmin;
		}

		p {
			font: bold 7vmin/1 'Poppins';
		}
		.title {
			font: 2vmin/1 'Poppins';
			position: absolute;
			right: 5vmin;
		}

		> .pic {
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: inline-block;
			position: relative;
			cursor: pointer;
			img {
				width: 110%;
				height: 150%;
				position: absolute;
				top: -25%;
				left: -5%;
			}
		}
	}
}
 */

/*
@media screen and(max-width:1179px) {
	.advertisement {
		width: 100%;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.main {
			width: 100%;
			display: flex;
			position: relative;
			height: 45vmin;
			margin-bottom: 20vmin;
			cursor: pointer;
			> .pic {
				width: 50%;
				padding: 10px;
				position: relative;
				overflow: hidden;
				img {
					width: 100%;
					height: 180%;
					margin-top: -30%;
					object-fit: cover;
				}
			}
			.txt {
				width: 70%;
				height: 95%;
				position: absolute;
				right: 0;
				bottom: -10%;
				text-align: left;
				background-color: #ededed;
				z-index: -1;
				.txt_box {
					position: absolute;
					height: 100%;
					left: 25%;
					top: 10%;
					padding: 2vmin;
					> h1 {
						font: bold 4vmin 'Poppins';
						margin-top: 5vmin;
						margin-bottom: 4vmin;
						margin-left: 5vmin;
					}
					h2 {
						font: bold 2vmin 'Poppins';
						position: absolute;
						left: 2vmin;
						top: 3vmin;
						margin-left: 5vmin;
					}
					> p {
						font: 3vmin/1.5 'Lora';
						margin-left: 5vmin;
					}
				}
			}
		}
		article {
			width: 50%;
			height: 35vmin;
			padding: 0 5vmin;
			float: left;
			display: block;
			position: relative;

			&:nth-of-type(even) {
				margin-top: 17vmin;
			}

			p {
				font: bold 7vmin/1 'Poppins';
			}
			.title {
				font: 2vmin/1 'Poppins';
				position: absolute;
				right: 5vmin;
			}

			> .pic {
				width: 100%;
				height: 100%;
				overflow: hidden;
				display: inline-block;
				position: relative;
				img {
					width: 110%;
					height: 150%;
					position: absolute;
					top: -25%;
					left: -5%;
				}
			}
		}
	}
}

*/

.advertisement {
	width: 100%;
	position: relative;
	.main {
		width: 100%;
		display: flex;
		position: relative;
		height: 45vmin;
		margin-bottom: 30vmin;
		> .pic {
			width: 50%;
			padding: 10px;
			position: relative;
			overflow: hidden;
			> img {
				width: 100%;
				height: 160%;
				margin-top: -30%;
				object-fit: cover;
			}
		}
		.txt {
			width: 70%;
			height: 95%;
			position: absolute;
			right: 0;
			bottom: -10%;
			text-align: left;
			background-color: #ededed;
			z-index: -1;
			.txt_box {
				position: absolute;
				height: 100%;
				left: 23%;
				top: 5%;
				padding: 2vmin;
				> h1 {
					font: bold 4vmin 'Poppins';
					margin-top: 5vmin;
					margin-bottom: 4vmin;
					margin-left: 5vmin;
				}
				h2 {
					font: bold 2vmin 'Poppins';
					position: absolute;
					left: 2vmin;
					top: 3vmin;
					margin-left: 5vmin;
				}
				> p {
					font: 3vmin/1.5 'Lora';
					margin-left: 5vmin;
				}
			}
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-color: #ddd;
			width: 3px;
			height: 190vh;
			top: 200%;
			left: 50%;
			z-index: -1;
		}
	}

	> article {
		margin-top: 30%;
		width: 100%;
		display: flex;
		&:nth-of-type(even) {
			flex-direction: row-reverse;
			> .pic {
				box-shadow: -16px -14px 2px 1px rgb(0 0 255 / 20%);
			}
			> .text {
				margin-left: 0;
				margin-right: 10vmin;
			}
		}
		.text {
			width: 35%;
			position: relative;
			margin-left: 10vmin;
			margin-top: 10vmin;
			&::before {
				content: '';
				display: block;
				position: absolute;
				background-color: #222;
				width: 90%;
				height: 2px;
				top: -10%;
				right: 5%;
				z-index: -1;
			}
			p {
				&:nth-of-type(1) {
					font: 10vmin/1 'Poppins';
					text-align: center;
					padding-top: 2vmin;
				}
				&:nth-of-type(2) {
					font: 2vmin/1 'Lora';
					text-align: center;
					margin: 3vmin;
				}
			}
		}
		.pic {
			width: 50%;
			height: 30vh;
			position: relative;
			overflow: hidden;
			box-shadow: 16px 12px 2px 1px rgba(0, 0, 255, 0.2);
			> img {
				object-fit: cover;
				width: 100%;
				height: 50vh;
				margin-top: -10vh;
			}
		}
	}
}
