.content.gallery {
	width: 70%;
	margin: 0 auto;
	position: relative;
	.inner {
		width: 100%;
		position: relative;
		margin: 0 auto;
		.g_list {
			width: 100%;
			margin: 20vmin 0;
			position: relative;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			h1 {
				font: 5vmin 'Poppins';
				text-align: right;
				&::before {
					content: '';
					display: block;
					width: 50%;
					background-color: #333;
					height: 1px;
					position: absolute;
					right: 0;
					top: -2vmin;
				}
			}
			p {
				font: italic 2.5vmin/2 'Lora';
				color: #333;
				text-align: right;
				margin-bottom: 5vmin;
			}
			article {
				position: relative;
				float: left;
				width: calc(100% / 4);
				height: 33vmin;
				//margin-top: 7%;
				&:nth-of-type(1) {
					width: calc(100% / 2);
					height: 66vmin;
				}
				&:nth-of-type(8) {
					width: calc(100% / 2);
					height: 33vmin;
				}
				&:nth-of-type(13) {
					width: calc(100% / 2);
					height: 66vmin;
				}

				&:hover {
					img {
						filter: grayscale(0.5) brightness(0.5);
					}
					h2 {
						opacity: 1;
						bottom: 3vmin;
					}
					p {
						opacity: 1;
						bottom: 1vmin;
					}
				}
				&:nth-of-type(4n) {
					margin-right: 0;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: 0.5s;
					padding: 5px;
				}
				> h2 {
					width: 90%;
					position: absolute;
					bottom: 0vmin;
					z-index: 2;
					opacity: 0;
					left: 2vmin;
					font: 2vmin/1 'arial';
					transition: 0.5s;
					color: #fff;
				}
			}
		}
	}
}

@media screen and(max-width:539px) {
	.content.gallery {
		width: 100%;
		position: relative;
		.inner {
			width: 100%;
			position: relative;
			margin: 0 auto;
			.g_list {
				width: 100%;
				margin: 20vmin 0;
				position: relative;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				h1 {
					margin-right: 2vmin;
					font: 5vmin 'Poppins';
					text-align: right;
					&::before {
						content: '';
						display: block;
						width: 50%;
						background-color: #333;
						height: 1px;
						position: absolute;
						right: 0;
						top: -2vmin;
					}
				}
				p {
					margin-right: 2vmin;
					font: italic 2.5vmin/2 'Lora';
					color: #333;
					text-align: right;
					margin-bottom: 5vmin;
					&.last {
						margin: 0 auto;
						width: 80%;
					}
				}
				article {
					position: relative;
					float: left;
					width: calc(100% / 3);
					height: 33vmin;
					//margin-top: 7%;
					&:nth-of-type(1) {
						width: calc((100% / 3) * 2);
						height: 66vmin;
					}
					&:nth-of-type(8) {
						width: calc((100% / 3) * 2);
						height: 33vmin;
					}
					&:nth-of-type(13) {
						width: calc((100% / 3) * 2);
						height: 33vmin;
					}

					&:hover {
						img {
							filter: grayscale(0.5) brightness(0.5);
						}
						h2 {
							opacity: 1;
							bottom: 3vmin;
						}
						p {
							opacity: 1;
							bottom: 1vmin;
						}
					}
					&:nth-of-type(4n) {
						margin-right: 0;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: 0.5s;
						padding: 5px;
					}
					> h2 {
						width: 90%;
						position: absolute;
						bottom: 0vmin;
						z-index: 2;
						opacity: 0;
						left: 2vmin;
						font: 2vmin/1 'arial';
						transition: 0.5s;
						color: #fff;
					}
				}
			}
		}
	}
}
