.sponsorship {
	width: 100%;
	position: relative;
	margin-top: 15vmin;
	> h1 {
		font: 5vmin 'Poppins';
		margin-bottom: 2vmin;
		position: relative;
		text-align: right;
		margin-right: 2vmin;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-color: #333;
			width: 50%;
			height: 1px;
			top: -2vmin;
			right: -1vmin;
			z-index: -1;
		}
	}
	> p {
		font: italic 2.5vmin/2 'Lora';
		margin-right: 3vmin;
		text-align: right;
	}
	&::after {
		clear: both;
		display: block;
		content: '';
	}
	.box {
		position: relative;
		width: 100%;
		height: 60vmin;
		display: flex;
		flex-direction: column;
		margin-top: 10vmin;
		margin-bottom: 20vmin;
		> p {
			font: 2vmin/1 'Lora';
			margin-left: 7%;
			margin-top: 1vmin;
		}
		.main {
			position: relative;
			width: 100%;
			height: 80%;
			display: flex;
			//	border: 1px solid blue;
			//	box-sizing: border-box;
			> .pic {
				cursor: pointer;
				width: 65%;
				height: 100%;
				position: relative;
				display: flex;
				flex-direction: column;
				//	border: 1px solid red;
				//	box-sizing: border-box;
				.wrapper {
					width: 100%;
					height: 100%;
					margin-top: 1vmin;
					overflow: hidden;
					position: relative;
					.circlePlay {
						width: 30%;
						height: 30%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-25%, -50%);
						color: #888;
						opacity: 0.7;
					}
					img {
						position: absolute;
						width: 100%;
						height: 150%;
						top: -25%;
						padding-left: 10%;
						filter: contrast(1.2);
					}
				}
			}
			> .info {
				width: 35%;
				height: 100%;
				position: relative;
				/* &::after {
				width: 100%;
				height: 85%;
				background: rgba(218, 212, 204, 0.466);
				display: block;
				content: '';
				position: absolute;
				bottom: 0%;
				left: -3vmin;
				z-index: -1;
			} */

				.videos {
					width: 100%;
					height: 100%;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					> .pics {
						width: calc(50% - 1vmin);
						height: calc(50% - 1vmin);
						//	border: 1px solid;
						float: left;
						overflow: hidden;
						margin-left: 1vmin;
						margin-top: 1vmin;
						position: relative;
						cursor: pointer;
						&:nth-of-type(2) {
							margin-right: 0;
						}
						&:nth-of-type(3) {
							width: calc(100% - 1vmin);
						}
						> p {
							display: block;
							margin-left: 2vmin;
							font: 2vmin/1.5 'Poppins';
							display: none;
						}
						> .pic {
							position: relative;
							height: 100%;
							height: 100%;
							> img {
								position: absolute;
								top: -25%;
								width: 100%;
								height: 150%;
								object-fit: cover;
								filter: sepia(0.2) grayscale(0.9);
							}
						}
					}
				}
			}
		}
	}

	.frame {
		width: 90%;
		padding: 0 1vmin;
		margin-left: 8%;
		position: relative;
		span {
			font: italic 4vmin/1 'Lora';
			position: absolute;
			top: -7vmin;
			right: 0;
			&::before {
				content: '';
				display: block;
				width: 150%;
				height: 1px;
				background-color: #333;
				position: absolute;
				right: 0;
				top: -1vmin;
			}
		}
		.pics {
			width: 100%;
			overflow: hidden;
			position: relative;
			.slide {
				position: relative;
				width: calc((100% / 3) * 7);
				//	margin-left: calc((100% / -3) * 2);
				img {
					width: calc(100% / 7);
					height: 30vmin;
					padding: 0 0.5vmin;
				}
			}
			.play,
			.stop {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: none;
				font: bold 7vmin/1 'Poppins';
				color: #fff;
			}
		}
		.prev {
			position: absolute;
			top: 50%;
			left: -5vmin;
			transform: translate(0%, -50%);
			color: #666;
			font: bold 5vmin/1 'Poppins';
		}
		.next {
			position: absolute;
			top: 50%;
			right: -5vmin;
			transform: translate(0%, -50%);
			color: #666;
			font: bold 5vmin/1 'Poppins';
		}
	}
}

@media screen and(max-width:1179px) {
	.sponsorship {
		width: 100%;
		position: relative;
		margin-top: 15vmin;
		> h1 {
			font: 5vmin 'Poppins';
			margin-bottom: 2vmin;
			position: relative;
			text-align: right;
			margin-right: 2vmin;
			&::before {
				content: '';
				display: block;
				position: absolute;
				background-color: #333;
				width: 50%;
				height: 1px;
				top: -2vmin;
				right: -1vmin;
				z-index: -1;
			}
		}
		> p {
			font: italic 2.5vmin/2 'Lora';
			margin-right: 3vmin;
			text-align: right;
		}
		&::after {
			clear: both;
			display: block;
			content: '';
		}
		.box {
			position: relative;
			width: 100%;
			height: 60vmin;
			display: flex;
			flex-direction: column;
			margin-top: 5vmin;
			margin-bottom: 15vmin;
			> p {
				font: 2vmin/1 'Lora';
				margin-left: 7%;
				margin-top: 1vmin;
			}
			.main {
				position: relative;
				width: 98%;
				height: 80%;
				display: flex;
				//	border: 1px solid blue;
				//	box-sizing: border-box;
				> .pic {
					cursor: pointer;
					width: 65%;
					height: 100%;
					position: relative;
					display: flex;
					flex-direction: column;
					//	border: 1px solid red;
					//	box-sizing: border-box;
					.wrapper {
						width: 100%;
						height: 100%;
						margin-top: 1vmin;
						overflow: hidden;
						position: relative;
						.circlePlay {
							width: 30%;
							height: 30%;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-25%, -50%);
							color: #888;
							opacity: 0.7;
						}
						img {
							position: absolute;
							width: 100%;
							height: 150%;
							top: -25%;
							padding-left: 5%;
							filter: contrast(1.2);
						}
					}
				}
				> .info {
					width: 35%;
					height: 100%;
					position: relative;
					/* &::after {
					width: 100%;
					height: 85%;
					background: rgba(218, 212, 204, 0.466);
					display: block;
					content: '';
					position: absolute;
					bottom: 0%;
					left: -3vmin;
					z-index: -1;
				} */

					.videos {
						width: 100%;
						height: 100%;
						&::after {
							content: '';
							display: block;
							clear: both;
						}
						> .pics {
							width: calc(50% - 1vmin);
							height: calc(50% - 1vmin);
							//	border: 1px solid;
							float: left;
							overflow: hidden;
							margin-left: 1vmin;
							margin-top: 1vmin;
							position: relative;
							cursor: pointer;
							&:nth-of-type(2) {
								margin-right: 0;
							}
							&:nth-of-type(3) {
								width: calc(100% - 1vmin);
							}
							> p {
								display: block;
								margin-left: 2vmin;
								font: 2vmin/1.5 'Poppins';
								display: none;
							}
							> .pic {
								position: relative;
								height: 100%;
								height: 100%;
								> img {
									position: absolute;
									top: -25%;
									width: 100%;
									height: 150%;
									object-fit: cover;
									filter: sepia(0.2) grayscale(0.9);
								}
							}
						}
					}
				}
			}
		}

		.frame {
			width: 90%;
			padding: 0 1vmin;
			margin-left: 5%;
			position: relative;
			span {
				font: italic 4vmin/1 'Lora';
				position: absolute;
				top: -7vmin;
				right: 0;
				&::before {
					content: '';
					display: block;
					width: 150%;
					height: 1px;
					background-color: #333;
					position: absolute;
					right: 0;
					top: -1vmin;
				}
			}
			.pics {
				width: 100%;
				overflow: hidden;
				position: relative;
				.slide {
					position: relative;
					width: calc((100% / 3) * 7);
					//	margin-left: calc((100% / -3) * 2);
					img {
						width: calc(100% / 7);
						height: 30vmin;
						padding: 0 0.5vmin;
					}
				}
				.play,
				.stop {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: none;
					font: bold 7vmin/1 'Poppins';
					color: #fff;
				}
			}
			.prev {
				position: absolute;
				top: 50%;
				left: -5vmin;
				transform: translate(0%, -50%);
				color: #666;
				font: bold 5vmin/1 'Poppins';
			}
			.next {
				position: absolute;
				top: 50%;
				right: -5vmin;
				transform: translate(0%, -50%);
				color: #666;
				font: bold 5vmin/1 'Poppins';
			}
		}
	}
}

@media screen and(max-width:549px) {
	.sponsorship {
		width: 100%;
		position: relative;
		margin-top: 25vmin;
		> h1 {
			font: 5vmin 'Poppins';
			margin-bottom: 2vmin;
			position: relative;
			text-align: right;
			margin-right: 4vmin;
			&::before {
				content: '';
				display: block;
				position: absolute;
				background-color: #333;
				width: 50%;
				height: 1px;
				top: -2vmin;
				right: -1vmin;
				z-index: -1;
			}
		}
		> p {
			font: italic 3vmin/1.5 'Lora';
			margin-right: 4vmin;
			text-align: right;
		}
		&::after {
			clear: both;
			display: block;
			content: '';
		}
		.box {
			position: relative;
			width: 100%;
			height: 60vmin;
			display: flex;
			flex-direction: column;
			margin-top: 42vmin;
			margin-bottom: 22vmin;
			> p {
				width: 90%;
				font: 3vmin/1.2 'Lora';
				margin-left: 5vmin;
				margin-top: 3vmin;
			}
			.main {
				position: relative;
				width: 98%;
				height: 80%;
				display: flex;
				flex-wrap: wrap-reverse;
				//	border: 1px solid blue;
				//	box-sizing: border-box;
				> .pic {
					cursor: pointer;
					width: 100%;
					height: 100%;
					position: relative;
					display: flex;
					flex-direction: column;
					//	border: 1px solid red;
					//	box-sizing: border-box;
					.wrapper {
						width: 100%;
						height: 100%;
						margin-top: 1vmin;
						overflow: hidden;
						position: relative;
						.circlePlay {
							width: 30%;
							height: 30%;
							position: absolute;
							left: 52%;
							top: 50%;
							transform: translate(-50%, -50%);
							color: #888;
							opacity: 0.7;
						}
						img {
							position: absolute;
							width: 100%;
							height: 150%;
							top: -25%;
							padding: 0 1% 0 4%;
							filter: contrast(1.2);
						}
					}
				}
				> .info {
					width: 100%;
					height: 100%;
					position: relative;

					.videos {
						width: 95%;
						height: 100%;
						margin-left: 4%;
						margin-top: calc(15.5% - 1vmin);
						&::after {
							content: '';
							display: block;
							clear: both;
						}
						> .pics {
							width: calc((100% / 3) - 1vmin);
							height: calc(70% - 1vmin);
							float: left;
							overflow: hidden;
							margin-right: 1.5vmin;
							margin-left: 0;
							margin-top: 1.5vmin;
							position: relative;
							cursor: pointer;
							&:nth-of-type(2) {
								margin-left: 0;
								margin-right: 1.5vmin;
							}
							&:nth-of-type(3) {
								width: calc((100% / 3) - 1vmin);
								margin-right: 0;
							}
							> p {
								display: block;
								margin-left: 2vmin;
								font: 2vmin/1.5 'Poppins';
								display: none;
							}
							> .pic {
								position: relative;
								height: 100%;
								height: 100%;
								> img {
									position: absolute;
									top: -30%;
									width: 100%;
									height: 150%;
									object-fit: cover;
									filter: sepia(0.2) grayscale(0.9);
								}
							}
						}
					}
				}
			}
		}

		.frame {
			width: 100%;
			position: relative;
			padding: 0;
			margin: 0;
			span {
				font: italic 4vmin/1 'Lora';
				position: absolute;
				top: -12vmin;
				right: 5vmin;
				&::before {
					content: '';
					display: block;
					width: 150%;
					height: 1px;
					background-color: #333;
					position: absolute;
					right: 0;
					top: -1vmin;
				}
			}
			.pics {
				width: 70vw;
				overflow: hidden;
				margin: 0 auto;
				.slide {
					width: 70vw;
					height: 35vw;
					position: relative;
					margin: 0 auto;
					img {
						position: absolute;
						width: 70vw;
						height: 35vw;
						padding: 0 5px;
						opacity: 0;
						left: 0%;
						transform: translateX(0%);
						&.on {
							opacity: 1;
						}
					}
				}
				.index {
					margin-left: 10%;
					margin-top: 5%;

					> li {
						display: inline-block;
						width: 2vw;
						height: 2vw;
						margin-left: 5vw;
						background-color: #aaa;
						border-radius: 50%;
					}
				}
				.play,
				.stop {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: none;
					font: bold 7vmin/1 'Poppins';
					color: #fff;
				}
			}
			.prev {
				position: absolute;
				top: 45%;
				left: 5vmin;
				transform: translate(0%, -50%);
				color: #666;
				font: bold 5vmin/1 'Poppins';
			}
			.next {
				position: absolute;
				top: 45%;
				right: 5vmin;
				transform: translate(0%, -50%);
				color: #666;
				font: bold 5vmin/1 'Poppins';
			}
		}
	}
}
