.content.youtube {
	.cate {
		width: 100%;
		margin: 0 auto;
		position: absolute;
		top: -25vmin;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: #333;
			position: absolute;
			bottom: 0vmin;
		}
		span {
			display: inline-block;
			width: 50%;
			text-align: center;
			font: bold 3vmin 'Poppins';
			cursor: pointer;
			&.on {
				border: 2vmin solid #222;
				border-left: 6vmin solid #222;
				border-right: 6vmin solid #222;
				padding: 1vmin 0;
			}
		}
	}

	.inner {
		width: 1180px;
		margin: 35vmin auto;
		position: relative;
		.list {
			width: 100%;
			position: relative;
			.youtube {
				width: 100%;
				position: relative;
			}
		}
	}
}

@media screen and(max-width:1179px) {
	.content.youtube {
		width: 100%;
		.cate {
			width: 100%;
			margin: 0 auto;
			position: absolute;
			top: -25vmin;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: #333;
				position: absolute;
				bottom: -2vmin;
			}
			span {
				display: inline-block;
				width: 50%;
				text-align: center;
				font: bold 3vmin 'Poppins';
				cursor: pointer;
			}
		}

		.inner {
			width: 100%;
			margin: 35vmin auto;
			position: relative;
			.list {
				width: 100%;
				position: relative;
				.youtube {
					width: 100%;
					position: relative;
				}
			}
		}
	}
}
